<footer>
  <div class="container">
    <div class="footer__content">
      <div class="footer__about">
        <h3 class="footer__logo-text">ZestJS</h3>
        <p class="footer__desc" style="color: black">
          ZestJS is a free UI library for everyone. It was built with
          inspiration gathered from across the internet and refined through the
          owner's personal projects. I hope it empowers your web development
          journey.
        </p>
      </div>

      <div class="footer__contact">
        <h4>Contact</h4>
        <ul class="footer__links">
          <li style="color: black">
            Email:
            <a href="mailto:dangtuann.dev@gmail.com">dangtuann.dev@gmail.com</a>
          </li>
          <li style="color: black">
            Github:
            <a href="https://github.com/dangtuann-dev" target="_blank"
              >@dangtuann-dev</a
            >
          </li>
          <li style="color: black">Location: Vietnam</li>
        </ul>
      </div>
    </div>

    <div class="footer__bottom">
      <p>&copy; 2026 ZestJS Library. Made with ❤️ for a faster web.</p>
    </div>
  </div>
</footer>
